h1 {
    margin-left: 70px;
}

form li {
    
    list-style:none;
    margin-bottom: 5px;
}


form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 10px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 14px;
}

[type = "submit"] {
    
    clear: left;
    margin: 20px 0 0 230px;
    font-size: 18px;
    backface-visibility: hidden;
}

body {
    background-color: aqua;
}
